    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google-site-verification" content="yZvCYZrEdmo9n-oC7k50zPknTDa-fhcee-2ew-Rv3lM" />
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}" />
        <meta name="keywords" content="fullscreen image, grid layout, flexbox grid, transition" />
        <meta name="author" content="{{ site.author.name }}" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/layout-simple.css" />
        <link rel="stylesheet" type="text/css" href="css/smoothzoom.css">
        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>