            <section class="related">
                <p>See Also:</p>
                
                <a href="http://twitter.com/fish2000"
                    target="_blank">twitter.com / fish2000</a>
                    <br/>
                    
                <a href="https://github.com/fish2000"
                    target="_blank">github.com / fish2000</a>
                    &mdash;
                <a href="https://fish2000.github.io/"
                    target="_blank">fish2000.github.io</a>
                    <br/>
                
                <a href="https://www.linkedin.com/in/alexanderbohn"
                    target="_blank">linkedin.com / in / alexanderbohn</a>
                    <br/>
                
                <a href="http://instagram.com/fish2000"
                    target="_blank">instagram.com / fish2000</a>
                    <br/>
                
                <a href="http://objectsinspaceandtime.tumblr.com/"
                    target="_blank">objectsinspaceandtime.tumblr.com</a>
                    <br/>
                
            </section>